.App {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  justify-content: center; /* Center content vertically */
  height: 80vh; /* Full viewport height */
  text-align: center; /* Center text */
  align-items: center;
}

button{
  color: blueviolet;
  background-color: aliceblue;
  height: 25px;
  border: 2px solid blueviolet; 
  border-radius: 20px;
  margin: 10px;
  font-weight: 550;
}

button:hover{

  transform: translateY(-2px);
}
input{
  border: 2px solid blueviolet;
}

input:focus{
  border: 2px solid blueviolet;
  outline: none;
  box-shadow:4px 4px 10px rgba(137, 43, 226, 0.671);
}
li{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}