

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #d0c0a3, #fff3dbd4);
  border-radius: 15px;
  width: 100%; /* Make sure it covers full width */
  height: 100%; /* Ensure it covers full height */
  padding: 50px 0;
}

button {
  color: white;
  background-color: #722e2b;
  height: 30px;
  border: 2px solid #703e3b;
  border-radius: 20px;
  margin: 10px;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 0 15px;
}

  
button:hover {
  transform: translateY(-3px);
  background-color: #c84648;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
}

input {
  border: 2px solid #703e3b;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

input:focus {
  border: 2px solid #c84648;
  outline: none;
  box-shadow: 4px 4px 10px #782723dc;
}
